#Environment 
.env
venv
logs
# Compiled python modules
__pycache__/

# pytype static type analyzer
.pytype/


#Local Vector DB index files
Components\Data\Evaluation\Q&A.xlsx
Data/Employee-generated Learning SECURE (watermarked).pdf
Components/vectordb/index.faiss/corporate-brain.faiss
Components/vectordb/index.faiss/corporate-brain.pkl
Components\vectordb\*
